 .icons {
   /* background-color: red; */
   margin: 20% 0;
   position: fixed;
   display: flex;
   flex-direction: column;
   padding: 0 12px;
 }

 .icons {
 
   position: fixed;

   left: 5px;
   
   transform: translateY(60%);
   z-index: 100;
   display: flex;
   flex-direction: column;
 }

 .icons a {
   margin: 15px;
 }

 .icons a i {
   font-size: 2rem;
   color: #007bff;
   transition: transform 0.3s ease, color 0.3s ease;
 }
*{
  /* border: 1px solid red; */
}
 .icons a i:hover {
   transform: scale(1.2) rotate(15deg);
   color: #ff5722;
 }